{% extends "base_banner.html" %} 

{% block title %}About Me{% endblock %}

{% block banner_header %}
<h1>About Me</h1>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">About</li>
{% endblock%}

{% block main_content %}
<!-- intro section -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col d-flex align-self-center justify-content-center">
                <img src="../static/myportrait2_sqr.png" class="rounded-circle" style="width:auto;height:auto;max-width:100%;">
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <p>A recent graduate from the University of British Columbia with a commerce major specializing in finance. Enthusiastic and highly-motivated coder and analyst with proven leadership capabilities, who enjoys seeking out new challenges and solving complex problems. Proficient in a range of modern technologies including Python, R, HTML, SQL, and Tableau, with strong interests in data analytics and machine learning.</p>
                <div class="py-3">
                    <a class="btn btn-md btn-primary" href="../static/myresume.pdf" target="_blank" role="button"><strong class="text-light">My Resume</strong></a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<hr/>

<!-- timeline -->
<section class="container py-5">
    <div class="main-timeline">
        <div class="timeline left">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-1">Internship<span class="fw-normal fst-italic">Jet Hero Universal Limited, Hong Kong</span></h4>
                    <p class="mb-1 text-muted">2022</p>
                    <p class="mb-0">As an intern, I was originally tasks to assist with the shipment booking process. I took the initiative and developed a software solution to automate repetitive and time-consuming tasks, enabling days of manual paperwork to be completed within minutes.
                        I've also ensured a smooth transition to the new solution by creating detailed tutorials, as well as continuously updating the software based on user needs.
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-1">Bachelor of Commerce, <span class="fw-normal fst-italic">UBC Sauder School of Business</span></h4>
                    <p class="mb-1 text-muted">2018-2022</p>
                    <p class="mb-0">Graduated in May 2022 with a specialization in finance. Key courses include Risk Management and Financial Engineering, Investment Theory, and Business Programming and Analytics. Participated in several competitions, including the National Investment Banking Competition, Data VizArt Student Challenge, and Fantasy Finance portfolio competition.</p>
                </div>
            </div>
        </div>
        <div class="timeline left">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-1">Marketing Director, <span class="fw-normal fst-italic">UBC Finance Association, UBC</span></h4>
                    <p class="mb-1 text-muted">2019</p>
                    <p class="mb-0">The UBC Finance Association is an organization that help students cultivates their personal success, advocates for their professional success and enhance their academic success by providing a platform for students to apply learned skills and to connect with professionals through events such as the Fantasy Finance portfolio competition and case competitions hosted with corporate partners, as well as other workshops and networking events.
                        As a Marketing Director, I was tasked to conduct research on, develop, and impletment marketing plans for the association. Working with the marketing team, I have maintained the bi-weekly newsletters, managed the offical social media channels, as well as redesigning the official website.
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-1">President, <span class="fw-normal fst-italic">Alexander College Student Association, Alexander College</span></h4>
                    <p class="mb-1 text-muted">2017-2018</p>
                    <p class="mb-0">Alexander College Student Association (ACSA) is a non-profit student service organization that represent and advocates for the interest of all students at Alexander College. The organization is dedicated to provide a student-centered support network, and to enhance the student experience at the college.
                        As the President of ACSA, I provided leadership to the organization to shape the student experience in positive and purposeful ways that aligns with Alexander College's values and mission. My responsibility is to serve as an advocate for the student body to articulate students' needs, interests, desires, and concerns.
                        
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline left">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-1">Student Representative, <span class="fw-normal fst-italic">Student Refugee Program, WUSC Local Committees</span></h4>
                    <p class="mb-1 text-muted">2017-2018</p>
                    <p class="mb-0">World University Service of Canada (WUSC) is a non-profit organization dedicated to improving education, employment, and empowerment opportunities across 25 countries around the world for youth, including womean and refugrees.
                        The Student Refugee Program provides private sponsorship to young refugees to come to Canada as permenant residents and study at a Canadian postsecondary institution. 
                        As a student representative for the Student Refugee Program in Alexander College, my responsibilities inclde raising awareness about international development issues on our campuses and in our community, and providing critical integration support to students
                        that arrive in our community through the Student Refugee Program, in collaboration with students, faculty and staff at universities and colleges across Canada.
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-1">Student Representative, <span class="fw-normal fst-italic">Green Committee, Alexander College</span></h4>
                    <p class="mb-1 text-muted">2017-2018</p>
                    <p class="mb-0">Alexander College's Green Committee is an organization that monitors, modifies, and regulate the campus environment in order to achieve a sustainable ecosystem on campus and in the local community. 
                        My role as the student representative was to help organize campaigns and events that would help students understand the importance of sustainability for our community, 
                        of which include local beach cleanups, gardening workshops, holiday craft making with resuable materials, and the launch of a new recycling system.
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline left">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="fw-bold mb-1">Student Worker, <span class="fw-normal fst-italic">Alexander College</span></h4>
                    <p class="mb-1 text-muted">2017-2018</p>
                    <p class="mb-0">Provided service to a diverse range of library patrons as the library assistant, with responsibilities including collecting, organizing, and issuing library resources, offering students technical supports, and organizing workshops to provide students with academic help.</p>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="mb-1 fw-bold">University Transfer Program, <span class="fw-normal fst-italic">Alexander College</span></h4>
                    <p class="mb-1 text-muted">2016-2017</p>
                    <p class="mb-0">Received service award for outstanding services as the President of Alexander College Student Association, as well as Honour Roll for outstanding academic achievement.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}