{% extends "base_banner.html" %} 

{% block title %}About Me{% endblock %}

{% block banner_header %}
<h1>About Me</h1>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">About</li>
{% endblock%}

{% block main_content %}
<!-- intro section -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col d-flex align-self-center justify-content-center">
                <img src="../static/myportrait_sqr.jpg" class="rounded-circle" style="width:auto;height:auto;max-width:75%;">
            </div>
            <div class="col-8 d-flex flex-column justify-content-center">
                <h4>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</h4>
                <div class="py-3">
                    <a class="btn btn-md btn-primary" href="../static/resume.pdf" target="_blank" role="button"><strong class="text-light">My Full Resume</strong></a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<hr/>

<!-- timeline -->
<section class="container py-5">
    <div class="main-timeline">
        <div class="timeline left">
            <div class="card">
                <div class="card-body p-4">
                    <h3>2017</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                    mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                    dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card">
                <div class="card-body p-4">
                    <h3>2016</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                    mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                    dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
        </div>
        <div class="timeline left">
            <div class="card">
                <div class="card-body p-4">
                    <h3>2015</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                    mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                    dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card">
                <div class="card-body p-4">
                    <h3>2012</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                    mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                    dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
        </div>
        <div class="timeline left">
            <div class="card">
                <div class="card-body p-4">
                    <h3>2011</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                    mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                    dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card">
                <div class="card-body p-4">
                    <h3>2007</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                    mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                    dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}