{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<section class="bg-light py-3">
    <div class="container pt-5">
        <div class="row">
            <div class="col d-flex flex-column align-items-center">
                {% block banner_header %}
                <h1>Portfolio</h1>
                {% endblock %}
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" class="text-decoration-none"><strong>Home</strong></a></li>
                    {% block breadcrumb %}
                    {% endblock%}
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% block main_content%}{% endblock %}
{% endblock %}


<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>