{% extends 'base.html' %}
{% block title %}Vincent Tsun{% endblock %}
{% block content %}
<!-- hero section -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-8 d-flex flex-column justify-content-center">
                <h4>I am</h4>
                <h1>Vincent Tsun</h1>
                <P>Coder and analyst Coder and analystCoder and analystCoder and analystCoder and analystCoder and analystCoder and analystCoder and analystCoder and analyst</P>
                <div>
                    <a class="btn btn-md btn-primary" href="/portfolio" role="button"><strong class="text-light">My Projects</strong></a>
                </div>
            </div>
            <div class="col d-flex align-self-center justify-content-center">
                <img src="../static/myportrait.jpg" class="rounded-3" style="width:auto;height:auto;max-width:100%;">
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <h1>PERSONAL DETAILS</h1>
    <div class="d-flex">
        <div class="vr me-3 border border-primary"></div>
        <blockquote class="generic-blockquote">
            <br/>
            <p>
            A few interesting things about me. I love to read science fiction (my favorite is Frank Herbert's Dune). I am also an avid gamer. I love to play competitive strategy games and first-person shooters. Lastly, I love learning. Every day I push myself to learn something new, whether that be about machine learning, software engineering, or miscellaneous facts about the universe.
            </p>
            <p>
            On top of recently getting married and graduating with a masters in computer science from UT Dallas, I also recently started working as a senior data scientist at Capital One. My work mainly revolves around utilizing natural language processing to build a more intelligent customer experience.
            </p>
        </blockquote>
    </div>
    <div class="py-2">
        <a class="btn btn-primary" href="#"><strong class="text-light">About Me</strong></a>
    </div>
</section>
<hr/>
<!-- container to contain the rest of the content -->
<div class="container">
    <!-- horizontal cards for posts-->
    <div class="row py-5">
        <div class="pb-4">
            <h2>Latest projects</h2>
        </div>
        {%for post in posts[:3] %}
        <div class="col-12 col-md-4 col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top mt-5 w-50" src="../static/python.png" alt="python icon">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    {% if post.text | length >100 %}
                        <p class="card-text" >{{post.text[0:100]+'...'}}</p>
                    {% else %}
                        <p class="card-text" >{{post.text}}</p>
                    {% endif %}
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="card-footer text-muted">
                    
                    {{post.date_created}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}