{% extends "base_banner.html" %} 

{% block title %}Portfolio{% endblock %}

{% block banner_header %}
<h1>Portfolio</h1>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Portfolio</li>
{% endblock%}

{% block main_content %}
<br/>
<div class="container">
  <section id="posts">
    {% for post in posts %}
    <div class="row d-flex py-4">
      <div class="d-flex flex-col justify-content-center col-sm-2">
        <a href="{{ url_for('views.post', id=post.id) }}" class="text-dark text-decoration-none">
          <img src="../static/python.png" class="img-fluid" alt="python icon">
        </a>
      </div>
      <div class="col d-flex flex-column">
        <div class="row">
          <div class="col">
            <a href="{{ url_for('views.post', id=post.id) }}" class="text-dark text-decoration-none"><h3>{{post.title}}</h3></a>
          </div>
          <div class="col">
            {% if user.id == post.author_id %}
            <div class="dropdown float-end">
              <button type="button" class="btn btn-sm btn-primary text-light dropdown-toggle" data-bs-toggle="dropdown"></button>
              <ul class="dropdown-menu">
                <li>
                  <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <p>{{post.description}}</p>
        </div>
        <div class="row mt-auto">
          <p>{{post.date_created}}</p>
        </div>
      </div>
    </div>
    {% if post != posts[-1] %}
      <hr/>
    {% endif %}
    {% endfor %}
  </section>
</div>
<br/>
{% endblock %}