{% extends "base.html" %}
{%block title %}test2{%endblock%}
{% block content %}
<section class="text-light" style="background-color:rgb(102, 102, 102)">
  <div class="container pt-5">
      <div class="row">
        <div class="col-8 d-flex flex-column justify-content-center">
          <h5>I am</h5>
          <h1>Vincent Tsun</h1>
          <P>Coder and analyst Coder and analystCoder and analystCoder and analystCoder and analystCoder and analystCoder and analystCoder and analystCoder and analyst</P>
        </div>
        <div class="col d-flex align-self-center justify-content-center">
          <img src="{{url_for('static',filename='python.png')}}" style="width:auto;height:auto;max-width:100%;">
        </div>
      </div>
  </div>
  <div align="center">
    <a class="btn btn-danger" href="/portfolio" role="button">Click Me</a>
  </div>
  <div align="center" class="pt-3">
    <i class="fa fa-angle-double-down blink"></i>
  </div>
</section>

<section class="home-about-area section-gap">
  <div class="container">
    
    <div class="row align-items-center justify-content-between">
      <div class="vr"></div>
        <h1>Personal Details</h1>
        <blockquote class="generic-blockquote">
          <p class="fz-16">

              A few interesting things about me. I love to read science fiction (my favorite is Frank Herbert's Dune). I am also an avid gamer. I love to play competitive strategy games and first-person shooters. Lastly, I love learning. Every day I push myself to learn something new, whether that be about machine learning, software engineering, or miscellaneous facts about the universe.
          </p>
          <p class="fz-16">
              On top of recently getting married and graduating with a masters in computer science from UT Dallas, I also recently started working as a senior data scientist at Capital One. My work mainly revolves around utilizing natural language processing to build a more intelligent customer experience.
          </p>

        </blockquote>
        
        <a href="about" class="primary-btn text-uppercase">About me</a>


    </div>
  </div>
</section>

<br/>
<div class="container">
  <div id="posts">
    <br/>
    {% for post in posts %}
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4>{{post.title}}</h4>
        {% if user.id == post.author_id %}
        <div class="dropdown float-end">
          <button
            type="button"
            class="btn btn-sm btn-primary text-light dropdown-toggle"
            data-bs-toggle="dropdown"
          ></button>
          <ul class="dropdown-menu">
            <li>
              <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        <div class="card-text">{{post.text}}</div>
      </div>
      <div class="card-footer text-muted">{{post.date_created}}</div>
    </div>
    <br/> {% endfor %}
  </div>
</div>

<div class="container">
  <section id="posts">
    {% for post in posts %}
    <div class="row py-4">
      <div class="d-flex flex-col justify-content-center col-2">
        <img src="../static/python.png" style="width:auto;height:auto;max-width:50%;" alt="python icon" >
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <h4>{{post.title}}</h4>
          </div>
          <div class="col">
            {% if user.id == post.author_id %}
            <div class="dropdown float-end">
              <button type="button" class="btn btn-sm btn-primary text-light dropdown-toggle" data-bs-toggle="dropdown"></button>
              <ul class="dropdown-menu">
                <li>
                  <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <p>{{post.text}}</p>
        </div>
      </div>
    </div>
    {% if post != posts[-1] %}
      <hr/>
    {% endif %}
    {% endfor %}
  </section>
</div>

{% endblock %}

